    @import url(//fonts.googleapis.com/css?family=Lato:400,900);
    @import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
    body {
		padding: 0px 0px;
	}
	.animate {
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	.info-card {
		position: relative;
        font-size: 14px;
		font-family: 'Lato', sans-serif;
		overflow: hidden;
	}
	.info-card .info-card-details,
	.info-card .info-card-details .info-card-header  {
		width: 200;
		height: 500;
		position: absolute;
		bottom: -100%;
		left: 0;
		padding: 0 15px;
		background: white;
		text-align: justify;
        line-height: 1.6;
	}          

	.info-card .info-card-details .info-card-header {
		height: auto;		
		bottom: 100%;
		padding: 10px 5px;
	}
	.info-card:hover .info-card-details {
		bottom: 0px;
		overflow: auto;
		padding-bottom: 25px;
	}
	.info-card:hover .info-card-details .info-card-header {
		position: relative;
		bottom: 0px;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.info-card .info-card-details .info-card-header h1,	
	.info-card .info-card-details .info-card-header h3 {
		color: rgb(62, 62, 62);
		font-size: 22px;
		font-weight: 900;
		text-transform: uppercase;
		margin: 0 !important;
		padding: 0 !important;
	}
	.info-card .info-card-details .info-card-header h3 {
		color: #FF590F;
		font-size: 15px;
		font-weight: 00;
		margin-top: 5px;
	}