    @import url(http://fonts.googleapis.com/css?family=Roboto:900,300);
    html {
                background-color: white;
                width: 1040px;
                margin: auto;
            }    

            #name {
               background: white;
                height: 98px;
                font-family: Roboto;
                color: dimgrey;

            }

            #about {

                background: white;
                height: 170px;
                font-family: Roboto;
                font-size: 30px;
                font-style: italic;
                line-height: 1.1;
                text-align:center;
                color: dimgrey;

            }

            .contact {
                text-decoration: none;
                color: dimgrey;
                margin-left: -75px;
            }

            .contact:hover {
                color: deepskyblue;
            }

            .git {
                text-decoration: none;
                color: dimgrey;
            }

            git:hover {
                color: deepskyblue;
            }

            span {
                color: deepskyblue;
            }

            li {
                list-style: none;
                font-size: 50px;
            }

            .name {
                font-size: 55px;
                color: dimgrey;

            }

            .right {
                float: right;
                font-family: Roboto;
                font-size: 30px;
                 margin: 30px;
                margin-left: 240px;
                }

            .left{
                font-family: Roboto;
                font-size: 30px;
                float: left;
                 margin: 30px;

            }

            footer {
                height: 50px;
                float: left;

            }

            .image .link-top {
                position: absolute;
                width: 500px;
                left: -90px;
                top: 100px;
                text-align: center;
                font-family: Roboto;
                opacity: 0;
                transition: opacity .35s ease;
                }

                .link-top a {
                width: 200px;
                padding: 12px 48px;
                text-align: center;
                color: white;
                border: solid 1px white;
                background: dimgrey;
                text-decoration: none;
                z-index: 1;
                }

            .image:hover .link-top {
                opacity: 1;
                }

             .image .link-bottom {
                position: absolute;
                width: 500px;
                left: -90px;
                top: 170px;
                text-align: center;
                font-family: Roboto; 
                opacity: 0;
                transition: opacity .35s ease;
                }

                .link-bottom a {
                width: 200px;
                padding: 12px 37px;
                text-align: center;
                color: white;
                border: solid 1px white;
                background: dimgrey;
                    text-decoration: none;
                z-index: 1;
                }

            .image:hover .link-bottom {
                opacity: 1;
                }

            .image {

                position:relative;
                width:330px;
                height:300px;
                margin: 5px;
                float:left;
            }

            .image img {
        width:100%;
        vertical-align:top;
        }
       .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0);
      transition: background 0.5s ease;
    }

    .image:hover .overlay {
      display: block;
      background: rgba(0, 0, 0, .6);
    }