  
/*index Style*/

  body{
                background-color: #002D72;
            }

header.top {
                color: #FF590F;
                background-color: #002D72;
                position: relative;
                font-family: Georgia;
            }
  nav {
                color: #FF590F;
                font-family: Georgia,"Times New Roman",serif;
                background-color: #FF590F;    
            }
 .logo {
                position: absolute;
                top: 0px;
                right: 0px;
            }
            h2{
                font-style: italic;
                color: #FF590F
            }
    .history{
                line-height: 1.6;
                text-align: justify;
               margin: 60px auto;
               width: 70em;
               background-color: #DCDDDE;
                padding: 5px 10px 20px 20px;
            }

.championships img{
    width: 175px;
    height: 175px;
}
.players {
    width: 90em;
    overflow-x: auto;
    white-space: nowrap;
}
footer {
                color: #FF590F;
                font-family: Georgia;
            }
 a   {
                text-decoration: none;
                color: #FF590F
                    }
a:hover{
    color: white;
}

/*players Style*/

 
            dialog {  
                    width: 600px;  
                    background:#e8e8e8;
                    border: 1px solid #dadada;
                    font-family:sans-serif;
                    padding: 5px 10px 20px 20px;
            } 
            
          .btn{
                background:url(../4.png) no-repeat;
                cursor: pointer;
                height: 100px;
                width: 100px;
                border-radius: 50%;
            }
            
            .btn2{
                background:url(../4.png) no-repeat;
                cursor: pointer;
                height: 100px;
                width: 100px;
                border-radius: 50%;
            }