  
/*mets Style*/

  body{
                background-color: #002D72;
            }

header.top {
                color: #FF590F;
                background-color: #002D72;
                position: relative;
                font-family: Georgia;
            }
  nav {
                color: #FF590F;
                font-family: Georgia,"Times New Roman",serif;
                background-color: #FF590F;    
            }
 .logo {
                position: absolute;
                top: 0px;
                right: 0px;
            }
            h2{
                font-style: italic;
                color: #FF590F
            }
    .history{
                line-height: 1.6;
                text-align: justify;
               margin: 60px auto;
               width: 70em;
               background-color: #DCDDDE;
                padding: 5px 10px 20px 20px;
            }

.championships .banner img{
    width: 175px;
    height: 175px;
}

.banner {
    margin-top: -300px;
    margin-left: 300px;
}

.nym{
    width: 200px;
    height: 200px;
    margin: 100px 200px 0px 50px;
}

.players {
    width: 90em;
    overflow-x: auto;
    white-space: nowrap;
}
footer {
color: #FF590F;
  font-family: Georgia;
     }
 a   {
    text-decoration: none;
    color: #FF590F
     }
a:hover{
    color: white;
}
.HOF p {
    width: 180px;
    padding: 15px;
    text-align: center;
    background-color: white;
}