  
/*mets Style*/

html {
    width: 1100px;
    margin: auto;
}

  body{
                background-color: #002D72;
            }

header.top {
                color: #FF590F;
                background-color: #002D72;
                position: relative;
                font-family: Georgia;
            }
  nav {
                color: #FF590F;
                font-family: Georgia,"Times New Roman",serif;
                background-color: #FF590F;    
            }
 .logo {
                position: absolute;
                top: 0px;
                right: 0px;
            }
            h2{
                font-style: italic;
                color: #FF590F
            }
    .history{
                line-height: 1.6;
                text-align: justify;
               margin: 60px auto;
               width: auto;
               background-color: #DCDDDE;
                padding: 5px 10px 20px 20px;
            }

.championships .banner img{
    width: 175px;
    height: 175px;
}

.banner {
    margin-top: -250px;
    margin-left: 200px;
}

.nym{
    width: 200px;
    height: 200px;
    margin: 50px 0px 0px -10px;
}

.nym1 {
     width: 200px;
    height: 200px;
    margin: 50px -10px 0px 0px;
    float: right
}

.players {
    width: 1300px;
    overflow: auto;
    margin-left: -125px;
    border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
    
}
footer {
color: #FF590F;
  font-family: Georgia;
     }
 a   {
    text-decoration: none;
    color: #FF590F
     }
a:hover{
    color: white;
}
.HOF p {
    width: 180px;
    padding: 15px;
    text-align: center;
    background-color: white;
}